html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  font-family: $font_main;
  background: $main_background;
}

img {
  max-width: 100%;
}

a:hover, a:focus {
  text-decoration: none;
}
.my_row {
  display: flex;
  width: 100%;
}
h2 {
  text-align: center;
}
.max_width {
  max-width: 960px;
}
//@include make_my_grid;

.clear {
  clear: both;
}

.noselect {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &::selection {
    background: transparent;
  }
}
