// Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|Bree+Serif|Merriweather);

$font_main: "Merriweather", Helvetica, sans-serif;
$font_highlight: "Bree Serif", Helvetica, sans-serif;

// Dimensions

// Radiuses

$button_radius: 1px;
$form_radius: 1px;

// for my grid

$my_columns: 20 !default;
$my_grid_gutter_width: 6px !default;



$labyrinth_color:black;
$labyrinth_border: 1px solid $labyrinth_color;

$main_background:#edeef0;
$secondary_background:white;



// animation
$space_ship_height: 40px;
$space_grid: 10;
$animation_duration: 10s;
$bad_ship_height: 80px;


//lock
$lock_width: 300px;
$key_width: 100% / 3;
$key_height: 50px;

$img_lock_width: 280px;

$main_lock_background:white;

$label_color: white;
$main_lock_color:#2980b9;

$alert_width: 230px;
$alert_height: 40px;

$lock_border: none;
$lock_button_color: #2980b9;
$lock_button_border: 2px solid;

$lock_remove_key_color: #c0392b;
$lock_remove_key_border: 1px solid;

//push_puzzle
$media_puzzle_value: 3/4;
$puzzle_container_border_width: 1px;
$puzzle_container_border_color: #efefef;
$puzzle_quantity: 4;
$puzzle_margin:1px;
$puzzle_font_size:24px;
$puzzle_font_color:#ecf0f1;
$puzzle_width:100px;
$puzzle_height:100px;
$puzzle_background:#34495e;
$puzzle_background_active:#2c3e50;
$puzzle_button_color: #34495e;
$puzzle_button_border: 2px solid;