@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|Bree+Serif|Merriweather);
html {
  font-size: 62.5%;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-size: 1.6rem;
  font-family: "Merriweather", Helvetica, sans-serif;
  background: #edeef0; }

img {
  max-width: 100%; }

a:hover, a:focus {
  text-decoration: none; }

.my_row {
  display: flex;
  width: 100%; }

h2 {
  text-align: center; }

.max_width {
  max-width: 960px; }

.clear {
  clear: both; }

.noselect {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .noselect::selection {
    background: transparent; }

header {
  margin: 0 auto;
  margin-bottom: 2rem; }

div#default, div#main_content {
  background: white;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto; }

div#main_content .ajaxInfo {
  display: block;
  text-align: center;
  margin: 0 auto; }
div#main_content .my_row {
  display: flex; }

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around; }

.flex-item {
  background: tomato;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center; }

nav .nav-tabs > li.active > a {
  background: white;
  border-radius: 1px; }

footer {
  margin: 0 auto;
  margin-top: 20rem; }
  footer div#contacts {
    margin: 0 auto; }
  footer p.copyright {
    margin-top: 1rem;
    text-align: center; }

.space_wrap {
  padding: 50px;
  background: url("../images/space_texture.png") center; }
  .space_wrap:hover .space_ship {
    animation-name: cartoon_space_ship_move; }
  .space_wrap:hover .bad_space_ship {
    animation-name: cartoon_bad_space_ship_move; }
  .space_wrap:hover .missile {
    animation-name: cartoon_missile; }
  .space_wrap:hover .energy_shot.shot_1 {
    animation-name: cartoon_energy_shot_1; }
  .space_wrap:hover .energy_shot.shot_2 {
    animation-name: cartoon_energy_shot_2; }
  .space_wrap:hover .energy_shot.shot_3 {
    animation-name: cartoon_energy_shot_3; }
  .space_wrap:hover .boom_large {
    animation-name: cartoon_boom_large; }

.space {
  margin: 50px auto;
  position: relative;
  height: 400px; }
  .space img {
    max-height: 100%;
    margin: 0 auto; }
  .space .missile {
    position: absolute;
    width: 10%;
    height: 20px;
    left: 20%;
    top: 22.5%;
    opacity: 0;
    animation-duration: 1.2s;
    animation-delay: 8.8s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards; }
  .space .bad_space_ship {
    position: absolute;
    width: 80px;
    height: 80px;
    left: -320px;
    top: 0;
    animation-duration: 17s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; }
  .space .space_ship {
    position: absolute;
    width: 40px;
    height: 40px;
    left: -200px;
    top: 0;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; }
  .space .boom {
    position: absolute;
    left: 70%;
    top: 20%;
    opacity: 0;
    animation-delay: 9.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards; }
  .space .boom_large {
    left: 70%;
    top: 20%;
    width: 10%;
    height: 10%;
    animation-duration: 5s; }
  .space .energy_shot {
    width: 80px;
    height: 80px;
    position: absolute;
    opacity: 0;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards; }
    .space .energy_shot.energy_shot.shot_1 {
      top: 0;
      left: 90%;
      animation-duration: 0.5s;
      animation-delay: 2s; }
    .space .energy_shot.energy_shot.shot_2 {
      top: 80%;
      left: 90%;
      animation-duration: 1s;
      animation-delay: 3.3s; }
    .space .energy_shot.energy_shot.shot_3 {
      top: 10%;
      left: 10%;
      animation-duration: 1s;
      animation-delay: 5.5s; }
  .space table {
    width: 100%;
    height: 100%; }
    .space table td {
      border: 1px solid #95a5a6; }
@keyframes cartoon_space_ship_move {
  11% {
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    left: 90%;
    top: 0; }
  22% {
    -ms-transform: rotate(180deg);
    /* IE 9 */
    -webkit-transform: rotate(180deg);
    /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    left: 90%;
    top: 90%; }
  33% {
    -ms-transform: rotate(270deg);
    /* IE 9 */
    -webkit-transform: rotate(270deg);
    /* Chrome, Safari, Opera */
    transform: rotate(270deg);
    left: 10%;
    top: 90%; }
  44% {
    -ms-transform: rotate(360deg);
    /* IE 9 */
    -webkit-transform: rotate(360deg);
    /* Chrome, Safari, Opera */
    transform: rotate(360deg);
    left: 10%;
    top: 10%; }
  55% {
    -ms-transform: rotate(450deg);
    /* IE 9 */
    -webkit-transform: rotate(450deg);
    /* Chrome, Safari, Opera */
    transform: rotate(450deg);
    left: 70%;
    top: 10%; }
  66% {
    -ms-transform: rotate(570deg);
    /* IE 9 */
    -webkit-transform: rotate(570deg);
    /* Chrome, Safari, Opera */
    transform: rotate(570deg);
    left: 70%;
    top: 60%; }
  77% {
    -ms-transform: rotate(570deg);
    /* IE 9 */
    -webkit-transform: rotate(570deg);
    /* Chrome, Safari, Opera */
    transform: rotate(570deg);
    left: 20%;
    top: 20%; }
  88% {
    -ms-transform: rotate(720deg);
    /* IE 9 */
    -webkit-transform: rotate(720deg);
    /* Chrome, Safari, Opera */
    transform: rotate(720deg);
    left: 20%;
    top: 20%;
    opacity: 1; }
  100% {
    -ms-transform: rotate(855deg);
    /* IE 9 */
    -webkit-transform: rotate(855deg);
    /* Chrome, Safari, Opera */
    transform: rotate(855deg);
    left: -10%;
    top: 100%;
    opacity: 0; } }
@keyframes cartoon_bad_space_ship_move {
  11% {
    -ms-transform: rotate(360deg);
    /* IE 9 */
    -webkit-transform: rotate(360deg);
    /* Chrome, Safari, Opera */
    transform: rotate(360deg);
    left: 90%;
    top: 0; }
  22% {
    -ms-transform: rotate(720deg);
    /* IE 9 */
    -webkit-transform: rotate(720deg);
    /* Chrome, Safari, Opera */
    transform: rotate(720deg);
    left: 90%;
    top: 80%; }
  33% {
    -ms-transform: rotate(1080deg);
    /* IE 9 */
    -webkit-transform: rotate(1080deg);
    /* Chrome, Safari, Opera */
    transform: rotate(1080deg);
    left: 10%;
    top: 10%; }
  44% {
    -ms-transform: rotate(1440deg);
    /* IE 9 */
    -webkit-transform: rotate(1440deg);
    /* Chrome, Safari, Opera */
    transform: rotate(1440deg);
    left: 70%;
    top: 10%; }
  55% {
    -ms-transform: rotate(1800deg);
    /* IE 9 */
    -webkit-transform: rotate(1800deg);
    /* Chrome, Safari, Opera */
    transform: rotate(1800deg);
    left: 70%;
    top: 10%;
    opacity: 1; }
  60% {
    -ms-transform: rotate(2160deg);
    /* IE 9 */
    -webkit-transform: rotate(2160deg);
    /* Chrome, Safari, Opera */
    transform: rotate(2160deg);
    left: 70%;
    top: 20%;
    opacity: 0; }
  100% {
    left: 70%;
    top: 20%;
    opacity: 0; } }
@keyframes cartoon_missile {
  90% {
    left: 70%;
    top: 22.5%;
    opacity: 1; }
  95% {
    left: 70%;
    top: 32.5%;
    opacity: 1; }
  100% {
    left: 70%;
    top: 32.5%;
    opacity: 0; } }
@keyframes cartoon_boom_large {
  30% {
    left: 70%;
    top: 20%;
    height: 160px;
    width: 160px;
    opacity: 1;
    -ms-transform: rotate(30deg);
    /* IE 9 */
    -webkit-transform: rotate(30deg);
    /* Chrome, Safari, Opera */
    transform: rotate(30deg); }
  100% {
    top: 40%;
    opacity: 0; } }
@keyframes cartoon_energy_shot_1 {
  95% {
    -ms-transform: rotate(720deg);
    /* IE 9 */
    -webkit-transform: rotate(720deg);
    /* Chrome, Safari, Opera */
    transform: rotate(720deg);
    top: 100%;
    opacity: 1; }
  100% {
    -ms-transform: rotate(720deg);
    /* IE 9 */
    -webkit-transform: rotate(720deg);
    /* Chrome, Safari, Opera */
    transform: rotate(720deg);
    top: 100%;
    opacity: 0; } }
@keyframes cartoon_energy_shot_2 {
  95% {
    -ms-transform: rotate(720deg);
    /* IE 9 */
    -webkit-transform: rotate(720deg);
    /* Chrome, Safari, Opera */
    transform: rotate(720deg);
    left: 0;
    top: 80%;
    opacity: 1; }
  100% {
    -ms-transform: rotate(720deg);
    /* IE 9 */
    -webkit-transform: rotate(720deg);
    /* Chrome, Safari, Opera */
    transform: rotate(720deg);
    left: 0;
    top: 80%;
    opacity: 0; } }
@keyframes cartoon_energy_shot_3 {
  95% {
    -ms-transform: rotate(720deg);
    /* IE 9 */
    -webkit-transform: rotate(720deg);
    /* Chrome, Safari, Opera */
    transform: rotate(720deg);
    left: 90%;
    top: 10%;
    opacity: 1; }
  100% {
    -ms-transform: rotate(720deg);
    /* IE 9 */
    -webkit-transform: rotate(720deg);
    /* Chrome, Safari, Opera */
    transform: rotate(720deg);
    left: 90%;
    top: 10%;
    opacity: 0; } }
#labyrinth_control {
  margin-top: 50px; }

#labyrinth {
  position: relative;
  max-width: 600px;
  height: 600px;
  margin: 50px auto 0; }
  #labyrinth .square {
    display: inline-block;
    box-sizing: border-box;
    float: left; }
  #labyrinth .br_0 {
    border-top: 1px solid black; }
  #labyrinth .br_1 {
    border-bottom: 1px solid black; }
  #labyrinth .br_2 {
    border-left: 1px solid black; }
  #labyrinth .br_3 {
    border-right: 1px solid black; }
  #labyrinth .top {
    border-top: 1px solid black; }
  #labyrinth .bottom {
    border-bottom: 1px solid black; }
  #labyrinth .left {
    border-left: 1px solid black; }
  #labyrinth .right {
    border-right: 1px solid black; }

#students_marks {
  max-width: 600px;
  margin: 50px auto 0; }
  #students_marks table {
    text-align: center;
    border: 1px solid #efefef; }
    #students_marks table td {
      padding: 5px;
      border: 1px solid #efefef; }
      #students_marks table td.failed {
        color: red; }
  #students_marks label {
    font-weight: normal; }
  #students_marks #marks .student_name_form {
    padding-top: 20px; }
    #students_marks #marks .student_name_form .student_name {
      padding-bottom: 5px; }
  #students_marks #marks button {
    margin-top: 20px; }

#lock_wrapper {
  max-width: 600px;
  min-height: 600px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 200; }
  #lock_wrapper #alert {
    position: absolute;
    width: 230px;
    height: 40px;
    left: 50%;
    margin-left: -115px;
    margin-top: 178px;
    background: none;
    color: #c0392b;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    opacity: 0; }
    #lock_wrapper #alert.show {
      opacity: 1; }
  #lock_wrapper img {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -140px;
    margin-top: 168px; }
  #lock_wrapper #upper_lock {
    margin-top: 0; }
    #lock_wrapper #upper_lock.open {
      animation-name: lock-open;
      animation-duration: 0.5s;
      animation-fill-mode: forwards; }
@keyframes lock-open {
  100% {
    margin-top: -30px; } }
  #lock_wrapper #lock_container {
    position: relative;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    margin-top: 175px; }
    #lock_wrapper #lock_container #input_label {
      width: 100%;
      color: white;
      margin: 0; }
      #lock_wrapper #lock_container #input_label #label_text {
        display: block;
        text-align: center;
        padding: 10px;
        opacity: 1; }
        #lock_wrapper #lock_container #input_label #label_text.hideText {
          opacity: 0; }
      #lock_wrapper #lock_container #input_label #number_input {
        width: 100%;
        height: 50px;
        line-height: 50px;
        color: #2980b9;
        text-align: center;
        border: none;
        border-bottom: 2px solid; }
        #lock_wrapper #lock_container #input_label #number_input:focus {
          outline: none; }
    #lock_wrapper #lock_container #lock_numbers {
      /*border-left: 1px solid black;
      border-right: 1px solid black;*/ }
      #lock_wrapper #lock_container #lock_numbers .number_key, #lock_wrapper #lock_container #lock_numbers .remove_key {
        float: left;
        width: 33.33333%;
        height: 50px;
        background: white;
        line-height: 50px;
        text-align: center;
        color: #2980b9; }
        #lock_wrapper #lock_container #lock_numbers .number_key:hover, #lock_wrapper #lock_container #lock_numbers .remove_key:hover {
          cursor: pointer;
          color: #20638f; }
        #lock_wrapper #lock_container #lock_numbers .number_key:focus, #lock_wrapper #lock_container #lock_numbers .remove_key:focus {
          outline: none;
          color: #164666; }
      #lock_wrapper #lock_container #lock_numbers .remove_key {
        color: #c0392b; }
        #lock_wrapper #lock_container #lock_numbers .remove_key:hover {
          color: #962d22; }
        #lock_wrapper #lock_container #lock_numbers .remove_key:focus {
          outline: none;
          color: #6d2018; }
    #lock_wrapper #lock_container #enter_button {
      width: 100%;
      height: 50px;
      background: white;
      color: #2980b9;
      border: none;
      border-bottom: 2px solid#2980b9; }
      #lock_wrapper #lock_container #enter_button:hover {
        color: #20638f;
        border-bottom: 2px solid#20638f; }
      #lock_wrapper #lock_container #enter_button:focus {
        outline: none;
        color: #164666;
        border-bottom: 2px solid#164666; }
    #lock_wrapper #lock_container.animated {
      animation-name: shake-lock;
      animation-duration: 0.2s;
      animation-fill-mode: forwards; }
@keyframes shake-lock {
  25% {
    margin-left: -145px; }
  50% {
    margin-left: -155px; }
  75% {
    margin-left: -145px; }
  100% {
    margin-left: -150px; } }
    #lock_wrapper #lock_container.hidden-lock {
      animation-name: hide-lock;
      animation-duration: 1s;
      animation-fill-mode: forwards; }
@keyframes hide-lock {
  100% {
    opacity: 0; } }
#reg_exp_container {
  max-width: 800px;
  margin: 0 auto; }
  #reg_exp_container .title {
    font-weight: bold; }

/*
@media all and (max-width: 640px) {

  #lock_wrapper {
    #lock_container {
      #input_label {
        color: $main_lock_color;
      }
    }


    img {
      left: 50%;
      width: $img_lock_width / 4;
      margin-left: - $img_lock_width / 8;
      margin-top: 70px;
    }

    #upper_lock {
      margin-top: 30px;
      &.open {

        @keyframes lock-open {
          100% {
            margin-top: 15px;
          }
        }
      }
    }

    #lock_container {
      margin-top: $lock_width / 2;
    }

  } // #lock_wrapper
}*/

/*# sourceMappingURL=main.css.map */
