html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
header {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto 20px;
}


footer {
    width: 100%;
    max-width: 1024px;
    margin: 20px auto 0;
}

#wrapper {
    display: flex;
    flex-direction: row;
    /*
    justify-content: center;
    align-content: stretch;
    */
    max-width: 1024px;
    margin: 0 auto;
}

#news_navigation {
    width:30%;
    padding:0px;

}

#main_content {
    width:70%;
    padding:0px;


}

#main_content img {
    display: block;
    margin: 0 auto;
    max-width: 150px;
}
#main_content p {
    text-align: justify;
}
#copyright {
    text-align: center;
}
.center {
    text-align: center;
}