<div id="pushpuzzle_table" class="noselect">
    <div id="you_won"></div>
    <div class="puzzle">1</div>
    <div class="puzzle">2</div>
    <div class="puzzle">3</div>
    <div class="puzzle">4</div>
    <div class="puzzle">5</div>
    <div class="puzzle">6</div>
    <div class="puzzle">7</div>
    <div class="puzzle">8</div>
    <div class="puzzle">9</div>
    <div class="puzzle">10</div>
    <div class="puzzle">11</div>
    <div class="puzzle">12</div>
    <div class="puzzle">13</div>
    <div class="puzzle">14</div>
    <div class="puzzle empty"></div>
    <div class="puzzle">15</div>

</div>
<div class="clear">

</div>
<div id="refresh_button_container">
    <button id="refresh_button">Refresh</button>
</div>