#students_marks {
  max-width: 600px;
  margin: 50px auto 0;

  table {
    text-align: center;
    border: 1px solid #efefef;

    td {
      padding: 5px;

      border: 1px solid #efefef;

      &.failed {
        color: red;
      }
    }
  }

  label {
    font-weight: normal;
  }
  #marks {
    .student_name_form {
      padding-top: 20px;

      .student_name {
        padding-bottom: 5px;
      }
    }

    button {
      margin-top: 20px;
    }
  }

}