
@media all and (max-width: 640px) {

  #pushpuzzle_table{

    max-width: ($media_puzzle_value * $puzzle_width +  2 * $puzzle_margin) * $puzzle_quantity + 2 * $puzzle_container_border_width;

    .puzzle {
      width: $media_puzzle_value * $puzzle_width;
      height: $media_puzzle_value * $puzzle_height;
      line-height: $media_puzzle_value * $puzzle_height;
    }
  }

}
