%defaultContainer {
  background: $secondary_background;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
}

div#default {
  @extend %defaultContainer;
}

div#main_content {
  @extend %defaultContainer;

  .ajaxInfo {
    display: block;
    text-align: center;
    margin: 0 auto;
  }

  .my_row {
    display: flex;
  }
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;

}

.flex-item {
  background: tomato;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;

}